<h1>Etsy Lookup:</h1>
<div class="container">
	<h3>Look up by user name:</h3>
	<form action="/users" method="post">
		<input type="text" name="user_name" />
		<input type="submit" value="Look up now" />
	</form>
</div>
<div class="container">
	<h3>Look up by shop name:</h3>
	<form action="/shops" method="post">
		<input type="text" name="shop_name" />
		<input type="submit" value="Look up now" />
	</form>
</div>